<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>{{user.username}}</h1>

<h1>Foto Flow</h1>
<div class="movies-wrapper">
  {{#each users}}
  <section>
    <video  controls=""
      src="{{this.vidPath}}" style="max-width: 274px; max-height: 260px; min-height: 50px; width: auto; height: auto;"></video>
  </section>

  {{else}}
  <p>There are no flow yet! :(</p>
  {{/each}}
</div>