<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>{{user.username}}</h1>

<h1>Foto Flow</h1>
<div class="movies-wrapper">
  {{#each fotoflows}}

    <div class="movie-item">
      <img src="data:image/jpg;base64,{{this.path}}" alt="">
      <h4>{{this.title}}</h4>
      <p>{{this.description}}</p>
    </div>
  {{else}}
    <p>There are no flow yet! :(</p>
  {{/each}}
</div>